
body {
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
}


.nome-canto {
    font-family: 'Cinzel', serif;
    color: #8b0000;
    font-weight: bold;
}



.frase-pequena {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 40px;
    color: #ccc;
}



.risquinho {
    width: 80px;
    height: 3px;
    background-color: white;
    margin: 0;
}

.autor {
    font-size: 14px;
    color: #8b0000;
}


.lista-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cartao {
    border: 1px solid #222;
    padding: 30px;
    width: 200px;
    background: rgba(10, 10, 10, 0.8);
}

.cartao h4 {
    color: #8b0000;
    margin-bottom: 15px;
}


.botao-grande {
    border: 1px solid white;
    color: white;
    padding: 20px 50px;
    font-size: 18px;
    font-family: 'Cinzel', serif;
}


.botao-menu {
    background: transparent;
    border: none;
    color: #888;
    font-family: 'Special Elite', serif;
    margin-left: 20px;
    font-size: 14px;
}


.creditos {
    font-size: 11px;
    color: #777;;
}
