body{

    margin:0;

    background:black;

    font-family:'Cinzel', serif;

    
}

*{
    box-sizing:border-box;
}

.sidebar a{

    display:flex;

    justify-content:center;
}
.sidebar{

    width:220px;

    height:100vh;

    background: linear-gradient(
        to bottom,
        black 70%,
        rgba(0,0,0,1) 10%,
        rgb(133,0,0) 100%
    );

    border-right:1px solid #8b0000;

    position:fixed;

    left:0;

    top:0;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:25px;
}

.logo{

    text-align:center;
}

.logo-img{

    width:130px;
}

.logo h1{

    color:#8b0000;

    font-size:24px;
}

.menu{

    display:flex;

    flex-direction:column;

    margin-top:40px;

    gap:18px;
}

.menu a{

    color:#888;

    text-decoration:none;

    letter-spacing:2px;

    font-size:13px;

    align-self:center;
}

.menu a:hover,
.ativo{

    color:white;
}

.sidebar button{

    width:180px;

    height:45px;

    background:transparent;

    border:1px solid #8b0000;

    color:white;

    cursor:pointer;

    font-family:'Cinzel', serif;
}



.resultado{

    margin-top:2px;
}
.main{

    margin-left:220px;

    min-height:100vh;

    padding:40px;

    display:flex;

    flex-direction:column;

    align-items:center;
}
.topo-filme{

    display:flex;

    gap:40px;

    align-items:flex-start;

    margin-bottom:40px;
}


#imgFilme{

    width:220px;

    height:320px;

    object-fit:cover;

    border:2px solid #8b0000;

    border-radius:10px;
}


.info-filme{

    flex:1;

    text-align:left;
}

#tituloFilme{

    color:#8b0000;

    font-size:38px;

    margin-bottom:20px;
}

.info-filme p{

    font-size:16px;

    margin-bottom:12px;

    color:#ccc;
}


.detalhes-filme{

    text-align:left;
}

.detalhes-filme p{

    font-size:15px;

    line-height:1.8;

    margin-bottom:20px;
}

h3{

    margin-top:30px;

    color:#8b0000;

    letter-spacing:2px;
}


.titulo{

    color:white;

    letter-spacing:3px;

    margin-bottom:40px;

    text-align:center;
}


select{

    width:200px;

    padding:6px;

    background:rgba(255,255,255,.03);

    border:1px solid #8b0000;

    color:white;

    text-align:center;

    font-family:'Cinzel', serif;

    outline:none;

    margin-bottom:10px;
}

select option{

    background:black;
}



.resultado{

    width:100%;

    max-width:900px;

    background:rgba(255,255,255,.03);

    border:1px solid #8b0000;

    padding:40px;

    text-align:center;

    border-radius:10px;
}



#imgFilme{

    width:150px;

    height: 220px;

    object-fit:cover;

    border:2px solid #8b0000;

    border-radius:10px;

    margin-bottom:25px;
}

#tituloFilme{

    color:#8b0000;

    font-size:20px;

    margin-bottom:2px;
}


p{

    color:#ccc;

    line-height:1.7;

    font-size:12px;
}

h3{

    margin-top:12px;

    color:#8b0000;

    letter-spacing:2px;
}
h1{
    font-size: 35px;
}