body{

    margin:0;

    background:black;

    font-family:'Cinzel', serif;

    overflow-x:hidden;
}

*{
    box-sizing:border-box;
}


.sidebar{

    width:220px;

    height:100vh;

    background: linear-gradient(
        to bottom,
        black 70%,
        rgba(0,0,0,1) 10%,
        rgb(133,0,0) 100%
    );

    border-right:1px solid #8b0000;

    position:fixed;

    left:0;

    top:0;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:25px;
}

.logo{

    text-align:center;
}

.logo-img{

    width:130px;
}

.logo h1{

    color:#8b0000;

    font-size:24px;
}

.menu{

    display:flex;

    flex-direction:column;

    margin-top:40px;

    gap:18px;
}

.menu a{

    color:#888;

    text-decoration:none;

    letter-spacing:2px;

    font-size:13px;

    align-self:center;
}

.menu a:hover,
.ativo{

    color:white;
}

.sidebar button{

    height:45px;

    width:160px;

    background:transparent;

    border:1px solid #8b0000;

    color:white;

    cursor:pointer;

    font-family:'Cinzel', serif;
}

.sidebar a{

    display:flex;

    justify-content:center;
}

.sidebar button:hover{

    background:#8b0000;
}


.main{

    margin-left:220px;

    min-height:100vh;

    padding:40px;
}


.titulo{

    color:white;

    letter-spacing:3px;

    margin-bottom:40px;

    text-align:center;
}


.cards-filmes{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:25px;
}

.card-filme{

    width:220px;

    background:rgba(255,255,255,.03);

    border:1px solid #8b0000;

    border-radius:10px;

    padding:15px;

    text-align:center;

    transition:.3s;
}



.card-filme img{

    width:100%;

    height:300px;

    object-fit:cover;

    border-radius:8px;

    border:1px solid #8b0000;
}

.card-filme h2{

    color:#8b0000;

    font-size:20px;

    margin-top:15px;
}

/* NOTAS */

.notas{

    margin-top:20px;
}

.notas p{

    color:#999;

    font-size:12px;

    letter-spacing:2px;

    margin-bottom:5px;
}

.notas span{

    color:white;

    font-size:22px;

    display:block;

    margin-bottom:20px;
}